.formContainer{
    background-color: bisque;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.formWrapper{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 246, 235);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 33%;
}
.formContainer .logo{
    color: rgb(143, 128, 111);
    font-size: x-large;
}
.formContainer .title{
    font-size: small;
}
.formContainer form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer input{
    padding: 0.3rem;
    border: none;
    width: 80%;
}
.googlelogin{
    border-radius: 50px;
    width: fit-content;
    font-size: large;
    padding: 0.5rem 1rem;
    border: none;
    background-color: bisque;
}
.classiclogin button{
    background-color: bisque;
    color: rgb(65, 65, 65);
    border: none;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
.formContainer button:hover{
    background-color: antiquewhite;
}
.divider{
    height: 0.1px;
    width: 90%;
    background-color: rgba(193, 193, 176, 0.771);

}