.messages{
    padding: 10px;
    height: calc(100% - 150px);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.timestamp{
    margin-left: auto;
    margin-right: auto;
}
.timestamp span{
    font-size: small;
}