.nav{
    padding: 1.5rem;
    display: flex;
    background-color:rgba(255, 235, 205, 0.5);
    border-top-right-radius: 1rem;
    justify-content: space-between;
}
.nav .logo{
    font-size: large;
}
.profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}